html
    head
        link(rel="stylesheet" href="main.css") 
    body
        .ribbon.corner-ribbon.top-left.sticky.red We are hiring !
        .reveal
            .slides

                section
                    h2 Asynchronous
                    h3 Request
                    h2 Processing
                    h4 Jan Gregor Emge-Triebel

                    aside.notes
                        p Jenny's keynote this morning, contributing is easy
                        p Talk: first held at UG Frankfurt in 2016 - Andreas and Stephan
                        p Code: PHPStan, Prophecy support

                section(data-state="show-ribbon")
                    h2 Hello everyone
                    table.resume
                        tr
                            td
                                img.avatar(src="assets/avatar.jpg")
                            td
                                ul
                                    li Jan Gregor Emge-Triebel
                                    li.job Head of Development
                                    li at Lillydoo GmbH, Frankfurt
                                    li.job Consultant
                                    li Symfony, Silex, Sylius, Grav
                    aside.notes
                        p Big Projects: CRM/Mail, Big Data, CMS / Files
                        p Lillydoo: Logistics and Accounting
                        p Real world impact, safety: State Machines and Message Queues

                section
                    h2 Before we start
                    ul
                        li.fragment Documentation is code
                        li.fragment Presentations document knowledge
                        li.fragment Presentations should be code
                        li.fragment
                            | Find this presentation at: &nbsp;
                            a(href="https://gitlab.com/JanGregor/async-processing-slides") https://gitlab.com/JanGregor/async-processing-slides

                    aside.notes
                        p Doc is code, tightly coupled, updates in sync, versioned
                        p Slides are documentation too. Show code examples, document best practises and list the lessons learned
                        p Look up, check evolution, find links
                        p "Update dependencies" joke

                section
                    h2 Why asynchronous processing ?
                    ul
                        li.fragment Cut down reaction time
                        li.fragment Move long running logic
                        li.fragment Exchange data/messages with other (sub-)systems
                        li.fragment Transfer load
                        li.fragment Microservices
                        li.fragment Scaling
                        li.fragment Parallelization

                    aside.notes
                        p Look at the problem we are trying to so solve
                        p So please do not use queuing systems for their own sake, but for yours.
                        p Evaluate use case, informed decision
                        p is it worth effort in the end - it might not always be
                        p just because you have a cool hammer, not everything is a nail

                section
                    h2 Why talk (only) about requests ?
                    table.quote
                        tr
                            td
                                img.avatar(src="assets/fabpot.jpg")
                            td
                                p.quote "Symfony is a request based framework."
                                p.author ~ Fabien Potencier
                                    br
                                    | SymfonyLive Berlin 2014

                    aside.notes
                        p Why “request processing” ?
                        p I come from a symfony world. Lifecycle is based on a request.
                        p This guy should know, he came up with that.
                        p Many entry points: Frontend-Controllers, Callbacks, EventListeners, CLI - commands

                section
                    section
                        h2 Queuing for beginners

                    section
                        h2 Requests
                        object(data="assets/request-scheme-default.svg" type="image/svg+xml")

                        aside.notes
                            p Imagine this scenario
                            p The low hanging fruit is not to actually go full blown async on the problem, but rather to merely shuffle things around a bit.

                    section
                        h2 Requests
                        object(data="assets/request-scheme-post.svg" type="image/svg+xml")

                        aside.notes
                            p we merely do what is necessary
                            p move everything else down the line.
                            p Meaning the users get their response faster.
                            p Drupal / Symfony ship with this
                            p What magic ?

                    section
                        h2 fastcgi_finish_request()

                    section
                        h2 fastcgi_finish_request()
                        pre
                            code.php
                                | $response = new FanceResponseClass();
                                | echo $response->getOutput();
                                |
                                | fastcgi_finish_request();
                                |
                                | $service = HeavyLiftingService();
                                | $service->doStuff();

                    section
                        h2 fastcgi_finish_request()
                        ul
                            li Requires PHP-FPM
                            li Still blocks server
                            li Retains session lock by default
                            li Not asynchronous but faster
                            li
                                a(href="https://secure.php.net/manual/en/function.fastcgi-finish-request.php") PHP documentation
                            li Convience wrapper available in Symfony/Drupal
                            li
                                a(href="https://symfony.com/doc/current/components/http_kernel.html#component-http-kernel-kernel-terminate") Symfony documentation

                        aside.notes
                            p session_write_close()
                            p sessions lock blocks other requests

                section
                    section
                        h2 Requests
                        object(data="assets/request-scheme-default.svg" type="image/svg+xml")

                    section
                        h2 Requests
                        object(data="assets/request-scheme-async.svg" type="image/svg+xml")

                section
                    h2 Architecture
                    object(data="assets/message-scheme.svg" type="image/svg+xml")

                section
                    h2 A tale of three queuing systems
                    h4 Gearman, Resque and RabbitMQ
                    p
                        a(href="https://gitlab.com/JanGregor/async-processing-slides/tags/symfony-live-london-2017") https://gitlab.com/JanGregor/async-processing-slides/tags/symfony-live-london-2017
                    p
                        a(href="https://www.youtube.com/watch?v=100HoVYEeOQ") Video recording

                section
                    section
                        h2 Message Queuing
                    section
                        h2 PHP-Resque
                        p Queuing
                            pre
                                code.php
                                    | $resque = $this->get('bcc_resque.resque');
                                    | $job    = new HeavyLiftingJob([
                                    |     'name' => $name
                                    | ]);
                                    | $resque->enqueue($job);
                    section
                        h2 RabbitMQ
                        p Queuing
                            pre
                                code.php
                                    | $msg = ['name' => $name];
                                    | $this->get('old_sound_rabbit_mq.heavy_lifting_job_producer')
                                    |     ->publish(json_encode($msg));
                    section
                        h2 Bernhard
                        p Queuing
                            pre
                                code.php
                                    | $message = new PlainMessage('HeavyLifting', [
                                    |     'name' => $name,
                                    | ]);
                                    | $producer->produce($message);
                    section
                        h2 PHP-Enqueue
                        p Queuing
                            pre
                                code.php
                                    | $msg = ['name' => $name];
                                    | $producer->sendCommand('HeavyLiftingProcessor', json_encode($msg));
                    section
                        h2 Symfony Messenger (>= 4.1)
                        p Queuing
                            pre
                                code.php
                                    | $message = new HeavyLiftingMessage($name);
                                    | $bus->dispatch($message);

                    section
                        h1 They are all the same!

                    section
                        h2 Abstraction
                        p
                            pre
                                code.php
                                    | class CustomPublisher
                                    | {
                                    |     public function publish($message)
                                    |     {
                                    |         $payload = $this->serializer->serialize($message, 'json');
                                    |         $this->producer->sendCommand('HeavyLiftingProcessor', $payload);
                                    |
                                    |         // or (e.g. RabbitMQ bundle)
                                    |         // $this->producer->publish($payload)
                                    |     }
                                    | }
                        p Just like: HTTP-Clients, Repositories, ...

                section
                    section
                        h2 Message Consuming
                    section
                        h2 PHP-Resque
                        p Consuming
                            pre
                                code.php
                                    | class HeavyLiftingJob implements PerformantJobInterface
                                    | {
                                    |     public function perform($args)
                                    |     {
                                    |         echo $args['name'];
                                    |     }
                                    | }
                    section
                        h2 RabbitMQ
                        p Consuming
                            pre
                                code.php
                                    | class HeavyLiftingService implements ConsumerInterface
                                    | {
                                    |     public function execute(AMQPMessage $msg)
                                    |     {
                                    |        $arguments = json_decode($msg->body);
                                    |        echo $arguments->name;
                                    |
                                    |        return ConsumerInterface::MSG_ACK;
                                    |     }
                                    | }
                    section
                        h2 Bernhard
                        p Consuming
                            pre
                                code.php
                                    | class HeavyLiftingReceiver
                                    | {
                                    |   public function heavyLifting(Message $message)
                                    |   {
                                    |       $arguments = $message->all();
                                    |       echo $arguments['name'];
                                    |   }
                                    | }
                    section
                        h2 PHP-Enqueue
                        p Consuming
                            pre
                                code.php
                                    | class HeavyLiftingProcessor implements PsrProcessor
                                    | {
                                    |     public function process(PsrMessage $message, PsrContext $session)
                                    |     {
                                    |         $arguments = json_decode($message->getBody());
                                    |         echo $arguments->name;
                                    |
                                    |         return self::ACK;
                                    |     }
                                    | }
                    section
                        h2 Symfony Messenger (>= 4.1)
                        p Consuming
                            pre
                                code.php
                                    | class MyMessageHandler
                                    | {
                                    |     public function __invoke(HeavyLiftingMessage $message)
                                    |     {
                                    |         echo $message->name;
                                    |     }
                                    | }

                    section
                        h1 They are all the same!

                    section
                        h2 Abstraction
                        p
                            pre
                                code.php
                                    | class MyMessageHandler
                                    | {
                                    |     public function __invoke(HeavyLiftingMessage $message)
                                    |     {
                                    |         $this->echoService->print($message);
                                    |     }
                                    | }
                        p Just like: Controller, Listener, Commands, ...


                section
                    section
                        h2 Benefits from Abstraction
                    section
                        h2 Logging / UUID
                    section
                        h2 Logging / UUID
                        p
                            pre
                                code.php
                                    | class CustomPublisher
                                    | {
                                    |     public function publish($message)
                                    |     {
                                    |         $message->uuid = uniqid();
                                    |
                                    |         $payload = $this->serializer->serialize($message, 'json');
                                    |         $this->producer->sendCommand(
                                    |            'HeavyLiftingProcessor',
                                    |             $payload
                                    |         );
                                    |
                                    |         $logger->info('Did Published message.', [
                                    |             'id' => $message->uuid,
                                    |             'message' => $message,
                                    |         ]);
                                    |     }
                                    | }

                section
                    section
                        h2 Events
                    section
                        h2 Events
                        p
                            pre
                                code.php
                                    | class CustomPublisher
                                    | {
                                    |     public function publish($message)
                                    |     {
                                    |         $event = new GenericEvent($message);
                                    |         $this->dispatcher->dispatch('app.publisher.pre_publish', $event);
                                    |
                                    |         $payload = $this->serializer->serialize($message, 'json');
                                    |         $this->producer->sendCommand('HeavyLiftingProcessor', $payload);
                                    |
                                    |         $event = new GenericEvent($message);
                                    |         $this->dispatcher->dispatch('app.publisher.post_publish', $event);
                                    |     }
                                    | }

                section
                    section
                        h2 Dead Letter Exchange
                    section
                        h2 Dead Letter Exchange
                        p
                            pre
                                code.php
                                    | class CustomConsumer
                                    | {
                                    |     public function consume($message)
                                    |     {
                                    |         is_int($message->tries) ? $message->tries++ : $message->tries = 1;
                                    |
                                    |         try {
                                    |             $this->echoService->print($message);
                                    |         } catch (\Exception $e) {
                                    |             if ($message->tries >= $this->maxTries) {
                                    |                 $this->deadLetterPublisher->publish($message)
                                    |              } else {
                                    |                 $this->publisher->publish($message)
                                    |              }
                                    |         }
                                    |     }
                                    | }

                section
                    section
                        h2 Graceful Shutdown
                    section
                        h2 Graceful Shutdown
                        p
                            pre
                                code.php
                                    | class CustomConsumer
                                    | {
                                    |     public function consume($message)
                                    |     {
                                    |         $this->echoService->print($message);
                                    |
                                    |         if ($this->shouldShutdown()) {
                                    |             exit();
                                    |         }
                                    |     }
                                    | }

                section
                    h2 Lessons learned

                section
                    section
                        h2 Lessons learned - Worker
                        ul
                            li PHP threads are not meant to be long running (leaks)
                            li Use supervisor to check and restart Consumers
                            li Booting consumers takes rather long
                            li Open database connections, timeouts
                            li Better quit when inactive
                    section
                        h2 Lessons learned - Worker
                        ul
                            li Cap maximum runtime per thread
                            li Automatically shutdown after processign x messages
                            li Memory limit: RabbitMQ-Bundle utilizes "soft-quota"
                            li Prefetching (Warning: Order!)
                            li Custom classes (common logging etc..)

                section
                    section
                        h2 Lessons learned - Messages
                        ul
                            li Compact/short messages
                            li Queues eat up a lot of storage / RAM
                            li Common format such as JSON or XML
                                ul
                                   li Do not serialize PHP objects or arrays
                                   li Ensure interoperability with other systems and languages
                    section
                        h2 Lessons learned - Message Transformation
                        ul
                            li Use JMS/Serializer to convert objects to JSON
                                ul
                                    li Deserialize JSON to PHP objects in consumer
                                    li Objects can and should be validated (with symfony forms and asserts)
                                    li Reload entities / documents to keep them up to date (doctrine/unit of work)
                            li Alternative approach: PHPs JsonSerializable Interface
                    section
                        h2 Lessons learned - Message Header
                        ul
                            li Use header for content-type and version
                                ul
                                    li Message formats can change
                                    li Consumers must remain compatible
                            li Unqiue IDs make logging / debugging / live easier
                            li Meta data (timestamp, session, user, app)

                section
                    h2 Lessons learned - Deployment
                    ul
                        li Workers need an up to date code base
                        li Workers need a graceful shutdown
                        li Workers must only be shutdown when idling
                        li Otherwise : Loss of message / data

                section
                    h2 Other challenges
                    ul
                        li Significant change of infrastructure
                        li Choose your libraries and dependencies carefully!
                        li Moving load is not removing load
                        li Rethinking necessary
                            ul
                                li Display of status / intermediate result
                                li Websockets / Push vs. Polling
                        li Interdependencies of messages
                            ul
                                li Especially when running in parallel
                        li Performance (Doctrine ORM / ODM)

                section
                    h2 Before we end
                    p Feedback is important!

                    aside.notes
                        p Before end, something personal
                        p Feedback is important.
                        p Speakers are responsible for the quality
                        p But we need your input to improve.
                        p leave valuable feedback. joind.in review = bug report
                        p what you think went wrong AND what you liked about the talks and why

                section
                    h2 Thank you !
                    h2 Any questions ?
                    table.social
                        tr
                            td
                                img.qr-code(src="assets/joindin-qr.png")
                                p
                                    a(href="https://joind.in/event/php-developer-days-2018/asynchronous-request-processing") Talk
                            td
                                i.fa.fa-twitter.fa-2x
                                p
                                    a(href="https://twitter.com/Jan0707") @Jan0707
                            td
                                i.fa.fa-stack-overflow.fa-2x
                                p
                                    a(href="https://stackoverflow.com/users/1143315/jan") Jan
                            td
                                i.fa.fa-envelope.fa-2x
                                p
                                    a(href="mailto:Jan@JanGregor.me") Jan@JanGregor.me

                section
                    section
                        h2 Questions ...
                    section
                        h2 What's the right tool for my job ?
                        ul
                            li.fragment Well, that depends ...
                            li.fragment Bernhard and PHP-Enqueue/-Resque are good starting points
                            li.fragment Only use RabbitMQ when you really need it

        script(src="notes.js")
