@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "ribbons";

.reveal .slide-background {
  background-position: 97% 5%;
  background-size: 10rem;
  background-image: url('assets/phpugdresden.svg');
  background-repeat: no-repeat;
}

table.social {
  width: 100%;
  td {
    width: 25%;
    text-align: center;
    vertical-align: bottom;
    p {
      text-align: center;
      font-size: smaller;
    }
  }
  i {
    // Solarized theme color
    color: #586e75
  }
  img {
    border: none !important;
  }
}

table.resume, table.quote {
  tr {
    td {
      img.avatar {
        width: 30rem;
        border: none;
        border-radius: 100%;
      }
    }
  }
}


table.resume {
  tr {
    td {
      vertical-align: middle;
      ul {
        list-style-type: none;
        margin: 0;
        li {
          margin-bottom: 0.5rem;
          &:first-child {
            margin-bottom: 1rem;
          }
          &:first-child, &.job {
            font-weight: bold;
          }
        }
      }
    }
  }
}

table.quote {
  tr {
    td {
      vertical-align: middle;
      p.quote {
        font-weight: bold;
      }
      p.author {

      }
    }
  }
}
